* {
  margin: 0;
  padding: 0;
}
body,
div,
span,
a {
  word-break: break-word !important;
}
.v-card {
  cursor: pointer;
}
.break-word {
  word-break: break-word;
}
.main-container {
  .v-toolbar__content {
    padding: 0;
    height: 50px !important;
  }
}
.text-color-main {
  color: #2e7d32;
}
.text-large {
  font-size: 24px !important;
}
.text-md-large {
  font-size: 20px !important;
}
.text-normal {
  font-size: 16px !important;
}
.text-small {
  font-size: 12px !important;
}
.v-list-item {
  background-color: #fff;
  &::before {
    background-color: #fff !important;
  }
}
.v-breadcrumbs {
  padding: 12px 0 !important;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.gap-3 {
  gap: 3%;
}
.gap-5 {
  gap: 5%;
}
.gap-8 {
  gap: 8%;
}
.font-bold {
  font-weight: 700;
}
.padding-0 {
  padding: 0 !important;
}
.w-full {
  width: 100%;
}
.text-center {
  text-align: center;
}
.product-container {
  i.v-icon.notranslate.mdi.mdi-circle.theme--dark {
    color: #4e342e;
  }
  button.v-carousel__controls__item.v-btn--round.theme--dark.v-size--small {
    color: #4e342e;
  }
  .v-carousel__controls {
    bottom: -10px;
  }
}
.sub-product {
  .v-carousel__controls {
    display: none;
  }
}
.link {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
.block {
  display: block;
}
.v-image {
  cursor: pointer;
}

.product-container {
  > .title {
    border-bottom: 1px solid #f34407;
    margin-right: 20px;
  }
  > .title > .text {
    background: #f34407;
    width: fit-content;
    padding: 12px 15px;
    color: #fff;
    cursor: pointer;
    border-top-right-radius: 36px;
    border-bottom-right-radius: 36px;
  }
  .index-card {
    > .subtitle {
      padding: 0 !important;
    }
  }
  .card-item {
    cursor: pointer;
    width: 250px;
    .v-image {
      height: 200px;
    }
    &:hover {
      transform: scale(1.05);
      transition: all 0.5s;
    }
    .ctitle {
      text-align: center;
      color: #4e342e;
      display: block;
      word-break: break-word;
    }
    .subtitle {
      color: #ff0000 !important;
      display: block;
      text-align: center;
      font-weight: 900;
      font-size: 15px !important;
      padding: 0 !important;
    }
  }
}
.sub-product {
  .title {
    border-bottom-color: #388e3c;
  }
  .title > .text {
    background-color: #388e3c;
  }
}
.app-link {
  .v-btn:not(.v-btn--round).v-size--x-large {
    width: 20%;
  }
}

.v-main__wrap {
  padding: 0 15%;
}
@media screen and (max-width: 1440px) {
  .card-item {
    .ctitle {
      padding: 13px;
    }
  }
}

@media only screen and (min-width: 1024px) {
  .app-container {
    padding: 0 15%;
  }
  .v-main__wrap {
    padding: 0 15%;
  }
  .pc {
    display: block;
  }
  .card-item {
    .v-image {
      height: 175px;
    }
    .ctitle {
      font-size: 15px !important;
    }
  }
  .top-header {
    padding: 0 15% !important;
  }
}

@media only screen and (min-width: 1920px) {
  .app-container {
    padding: 0 20%;
  }
  .v-main__wrap {
    padding: 0 20%;
  }
  .top-header {
    padding: 0 20% !important;
  }
}

@media only screen and (max-width: 1023px) {
  .v-window {
    max-height: 300px;
  }
  .v-window-item {
    .v-image {
      max-height: 300px;
    }
  }
  .v-application ul {
    padding-left: 12px !important;
  }
  .app-container {
    padding: 0 2%;
  }
  .top-header {
    padding: 0 7% !important;
  }
  .v-main__wrap {
    padding: 0 2% !important;
  }
  .pc {
    display: none;
  }
  .card-item {
    .ctitle {
      font-size: 12px !important;
    }
  }
}

@media only screen and (min-width: 768px) {
  .mobile {
    display: none;
  }
}
@media only screen and (max-width: 1023px) and (min-width: 768px) {
  .card-item {
    .v-image {
      height: 140px !important;
      margin: 0 10px !important;
    }
  }
  .feature-card {
    .feature-title {
      font-size: 14px;
    }
  }
}

@media only screen and (min-width: 1240px) and (max-width: 1440px) {
  .feature-card {
    .v-list-item {
      font-size: 16px;
    }
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1039px) {
  .feature-card {
    .v-list-item {
      font-size: 13px;
    }
  }
}
@media only screen and (max-width: 767px) {
  .v-window {
    height: 200px !important;
  }
  .v-window-item {
    .v-image {
      height: 200px !important;
    }
  }
  .banner-img {
    height: 200px;
    object-fit: cover;
  }
  .v-main__wrap {
    padding-bottom: 50px !important;
  }
  .mobile {
    display: block;
  }
  .product-container {
    i.v-icon.notranslate.mdi.mdi-circle.theme--dark {
      font-size: 12px !important;
    }
    button.v-carousel__controls__item.v-btn--round.theme--dark.v-size--small {
      height: 14px !important;
      width: 14px !important;
    }
    .card-item {
      width: 175px;
      .v-image {
        height: 150px;
        margin: 0 12.5px !important;
      }
    }
  }
  .product-container .card-item .ctitle {
    font-size: 12px !important;
  }
}

@media only screen and (max-width: 600px) {
  .product-container .card-item .v-image {
    // height: 100px;
    // width: 100px;
    margin: auto !important;
  }
  .feature-card {
    .v-list-item {
      font-size: 13px;
    }
  }
  .page-news {
    .v-breadcrumbs {
      padding-left: 0 !important;
      margin-top: -25px;
    }
  }
}
